{% extends 'base.html' %}
{% load static  %}
{% block content  %}
{% if bus %}
    {% for b in bus %}

<div class="card" style="width: 70rem; margin: 0 auto; margin-top: 3em;">
  <div class="card-body">
    <p class="card-text">
    <b> Bus Name: </b> &ensp; {{ b.name }} &emsp; <b> From: </b> &ensp; {{ b.origin }} &emsp; <b> To:</b> &ensp; {{ b.destination }} &emsp;
    <b>Date of Journey:</b> &ensp; {{ b.date }} &emsp; <b>  No of Seats Available: </b> &ensp; {{ b.seats }}
</p>
    <a href="{% url 'seat' b.id  %}" class="btn btn-primary float-right">Book Seats</a>
  </div>
</div>
{% endfor %}
{% else %}
<div class="card" style="width: 70rem; margin: 0 auto; margin-top: 3em;">
  <div class="card-body">
    <p class="card-text" style ="font-size: 15px;" >
    No buses avaialble 
    <a href="{% url 'busbooking' %}" class="btn btn-primary float-center">Search bus</a>
  </div>
</div>
{% endif %}

{% endblock  %}